*
{
	padding: 0;
	margin: 0;
}
.navbar
{
	height: 100px;
	width: 100%;
	display: flex;
	box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);

}
.test1 
{

	width: 40%;
	justify-content: space-evenly;
	display: flex;
	align-items: center;
	list-style-type: none;
	font-size: 16px;
	color: #717275;
	font-weight: bold;
	font-family: sans-serif;



}
.test2 
{
	
	width: 40%;
	justify-content: center;
	display: flex;
	align-items: center;
	list-style-type: none;
	font-size: 16px;
	color: #717275;
	font-weight: bold;

}
.sp1
{
	font-size: 24px;
	color:blue;
	font-family: sans-serif;
	font-weight: bold;
	color: #247CFF;
}
.sp2
{
	font-size: 12px;
	margin-left: 14px;
	font-family: sans-serif;
	color: #717275;
	font-weight: bold;
}

.test3 
{
	width: 40%;
	justify-content: space-evenly;
	display: flex;
	align-items: center;
	list-style-type: none;
	font-size: 16px;
	color: #717275;
	font-weight: bold;
	font-family: sans-serif;
	

}
.test3 .menu
{
	font-size: 35px;
	display: none;


}

@media (max-width: 450px)
{
	.test1
	{
	
	  display: none;
	}
	.test2
	{
	   width: 80%;
	   margin-left: 50px;

	}
	.test3 li
	{
		display: none;
	}
	.test3 
	{
	   width: 20%;
	   display: flex;
	   justify-content: flex-end;

	}
	.test3 .menu
	{

	 	display: block;
	 	 display: flex;
	   display: flex-end;
	   color: black;
	
	}
	
}
.content1
{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items:center; 
}
.docimg
{
	background-image: url("docimg1.jpg");
	height: 500px;
	width: 80%;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

}
.para
{
	height: 250px;
	width: 50%;
	background-color: #fff;

}
h1
{
	font-size: 48px;
	font-family: sans-serif;
	margin-left: 30px;
	margin-top: 20px;
}
span
{
	font-size: 48px;
	font-family: sans-serif;
	color:#247CFF;
}
p
{
	font-size: 18px;
	font-family: sans-serif;
	color: #717275;
	margin-top: 10px;
	margin-left: 30px;
}
@media (max-width:991px)
{
	.para
	{
		margin-top: 300px;
		width: 100%;


	}
}

	
	
